%h1 Еще раз отправить инструкции подтверждения учетной записи

= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, :required => true

  .form-actions
    = f.button :submit, "Отправить"
= render "users/shared/links"
