%h1 Вход
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "simple_form form-horizontal"}) do |f|
  .form-inputs
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false, :label => "Пароль"
    = f.input :remember_me, :label => "Запомнить", :as => :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Войти"
= render "users/shared/links"
