%h1 Инструкция по разблокированию учетной записи
= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => "simple_form form-horizontal" }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true
  .form-actions
    = f.button :submit, "Выслать инструкции по разблокированию"
= render "users/shared/links"
