%h1 Change your password
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "simple_form form-horizontal" }) do |f|
  = f.error_notification
  = f.input :reset_password_token, :as => :hidden
  = f.full_error :reset_password_token
  .form-inputs
    = f.input :password, :label => "Новый пароль", :required => true
    = f.input :password_confirmation, :label => "Подтверждение пароля", :required => true
  .form-actions
    = f.button :submit, "Изменить пароль"
= render "users/shared/links"
