%h1 Забыли пароль?
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "simple_form form-horizontal" }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true
  .form-actions
    = f.button :submit, "Пришлите мне инструкции по сбросу пароля"
= render "users/shared/links"
