%h1= @product.name
%span.badge= @product.status
%div{:style =>"clear: both;margin-bottom: 5px;"}

-#TODO Replace with photo
- if @product.product_images.count == 0
  %div{:style => "width: 200px; height: 160px; border:1px dashed grey; float: left;margin: 0 10px 5px 0; padding-top: 40px;text-align: center;"}= "Фото отсутствует"
- else
  =image_tag @product.product_images.first.image.url(:medium)
%span.price.big_price= "#{@product.price} грн"

%p
  = @product.description
%div.conacts
  %p
    = "Контакты"

%div{:style =>"clear: both;margin-bottom: 5px;"}


